<div class="container">
  <div class="animated fadeIn" >

    <h1>About Comic</h1>
    <hr class="dark">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam distinctio ab id? Magnam earum eaque aperiam laboriosam facilis. Quidem sed odio veritatis iusto recusandae, dolorum corporis aspernatur cupiditate esse laborum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam distinctio ab id? Magnam earum eaque aperiam laboriosam facilis. Quidem sed odio veritatis iusto recusandae, dolorum corporis aspernatur cupiditate esse laborum?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam distinctio ab id? Magnam earum eaque aperiam laboriosam facilis. Quidem sed odio veritatis iusto recusandae, dolorum corporis aspernatur cupiditate esse laborum?</p>
  </div>
</div>

